div {
  margin-top: 20px;

  .search-results-title {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50; 
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;
      font-size: 16px;
      border: 1px solid #e0e0e0; 
      border-radius: 8px; 
      padding: 10px; 
      background-color: #f5f5f5; 
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
      transition: background-color 0.2s ease;

      font-family: monospace, sans-serif;
      font-weight: normal;
      color: #333; 

      &:hover {
        background-color: #fff; 
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  flex-basis: calc(50% - 5px);
  margin-top: 10px;
  padding: 10px 0; 
  width: 120px;
  font-size: 18px; 
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;

  &:hover {
    background-color: #45a049; 
  }

  // Add styles for disabled button
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

p {
  font-size: 18px;
  color: #f00; 
  margin-top: 10px;
  font-family: monospace, sans-serif;
}

